@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    margin: 20px 0 20px 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

p {
    line-height: 30px;
}

header {
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    flex-grow: 3;
}

header nav {
    flex-grow: 1;
}

a {
    color: #000000;
    text-decoration: none;
}

.oculto {
    display: none !important;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: auto;
}

.logo img {
    width: 112px;
    height: 94px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.principal {
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-metade {
    width: 50%;
}

.social {
    height: 8vh;
    display: flex;
}

.social div {
    width: 100%;
    text-align: right;
}

.social i {
    font-size: 24px;
}

.social img {
    height: 20px;
}

.direita {
    text-align: right;
}

.cinzinha {
    color: #999999;
}

.imagem-home {
    margin: 40px 0 80px 0;
}

.imagem-home img {
    width: 800px;
    border-radius: 10px;
}

.imagem-home-sombra img {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.expertise {
    height: 300px;
    background-color: #000000;
    color: #FFFFFF;
}

.expertise div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.expertise div div {
    display: flex;
    flex-direction: column;
}

.margem-topo {
    margin-top: 100px;
}

.sobre {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.sobre img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

footer {
    height: 270px;
    background-color: #E5EBF0;
}

footer i {
    font-size: 24px;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.rodape div:first-of-type {
    text-align: center;
}

.rodape div:last-of-type {
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 42px;
}

.portfolio {
    margin: 36px 0 36px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: flex-start;
}

.imagem-inteira img {
    width: 100%;
}

.imagem-metade img {
    width: 48%;
}

.menu-responsivo-gatilho, .social-icones {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    .principal {
        height: 70vh;
    }

    .logo img {
        width: 90px;
        height: 100%;
    }

    .texto-metade {
        width: 70%;
    }

    .direita {
        text-align: left;
    }

    .imagem-home img {
        width: 100%;
    }

    .expertise {
        height: 260px;
    }

    .expertise div {
        padding: 10px;
    }

    .expertise p, .sobre p {
        font-size: 12px;
        line-height: 20px;
    }

    .sobre {
        gap: 30px;
    }

    .sobre img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }

    .portfolio {
        gap: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .oculto-p {
        display: none !important;
    }

    body {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .logo img {
        max-width: 13.96vh;
        width: 72px;
        height: 100%;
    }

    .principal {
        height: 73vh;
    }

    .margem-topo {
        margin-top: 40px;
    }

    .texto-metade {
        width: 100%;
    }

    .direita {
        text-align: left;
    }

    .imagem-home img {
        width: 100%;
    }

    .expertise {
        height: 420px;
    }

    .expertise div {
        padding: 10px;
        flex-wrap: wrap;
    }

    .expertise div div {
        width: 48%;
    }

    .expertise p, .sobre p {
        font-size: 12px;
        line-height: 20px;
    }

    .sobre {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .sobre div:first-of-type {
        order: 2;
    }

    .sobre div:last-of-type {
        order: 1;
    }

    .sobre img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }

    .menu-responsivo {
        flex-direction: column;
        gap: 12px;
        position: absolute;
        top: 10vh;
        right: 36px;
        background-color: #E5EBF0;
        padding: 40px;
        border-radius: 10px;
    }

    .menu-responsivo-gatilho {
        display: inline-block;
        text-align: right;
    }

    .menu-responsivo-gatilho i {
        font-size: 24px;
    }

    .social-logos {
        display: none !important;
    }

    .social-icones {
        display: inline-block;
    }

    footer {
        height: 150px;
    }

    .rodape div:last-of-type {
        font-size: 12px;
    }

    .rodape-menu {
        display: none !important;
    }

    .portfolio {
        gap: 10px;
    }

    .imagem-metade img {
        width: 100%;
    }
}