<nav>
    <div class="borel">
        <a href="/">
            vanessa ortega
        </a>
    </div>
    <div class="hamburger mobile-only">
        <a href="#">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <div class="menu desktop-only">
        <a href="#home">Home</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
        <a href="https://medium.com/@ortegavan">Blog</a>
        <a href="https://www.linkedin.com/in/ortegavan/">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://github.com/ortegavan">
            <i class="pi pi-github"></i>
        </a>
        <a href="https://www.instagram.com/ortegavan/">
            <i class="pi pi-instagram"></i>
        </a>
    </div>
</nav>