<nav>
    <div class="borel">
        <a href="/">
            vanessa ortega
        </a>
    </div>
    <div class="hamburger mobile-only">
        <a href="#">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <div class="menu desktop-only">
        <a href="#home" data-aos="fade-down" data-aos-delay="100">Home</a>
        <a href="#habilidades" data-aos="fade-down" data-aos-delay="200">Habilidades</a>
        <a href="#projetos" data-aos="fade-down" data-aos-delay="300">Projetos</a>
        <a href="#contato" data-aos="fade-down" data-aos-delay="400">Contato</a>
        <a href="https://medium.com/@ortegavan" data-aos="fade-down" data-aos-delay="500">Blog</a>
        <a href="https://www.linkedin.com/in/ortegavan/" data-aos="fade-down" data-aos-delay="600">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://github.com/ortegavan" data-aos="fade-down" data-aos-delay="700">
            <i class="pi pi-github"></i>
        </a>
        <a href="https://www.instagram.com/ortegavan/" data-aos="fade-down" data-aos-delay="800">
            <i class="pi pi-instagram"></i>
        </a>
    </div>
</nav>