<footer>
    <div class="menu text-center">
        <a href="#home">Home</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
        <a href="https://medium.com/@ortegavan">Blog</a>
        <div class="social">
            <a href="https://www.linkedin.com/in/ortegavan/">
                <i class="pi pi-linkedin"></i>
            </a>
            <a href="https://github.com/ortegavan">
                <i class="pi pi-github"></i>
            </a>
            <a href="https://www.instagram.com/ortegavan/">
                <i class="pi pi-instagram"></i>
            </a>
        </div>
    </div>
    <div class="text-center mt-2">
        Desenvolvido com <i class="pi pi-heart-fill"></i> por Van Ortega em São Paulo, Brasil • © 2024 Todos os direitos reservados.
    </div>
</footer>