<h1 class="center pink margem">
    Projetos
</h1>
<section>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Projeto de um app que reúne tarefas, colegas e ferramentas para facilitar a gestão de projetos e fluxos de trabalho</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Design de UI</h2>
            <p>Projeto da EBAC que contempla landing page + e-mail para comunicação sobre o PIX na SumUp</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>App em Angular</h2>
            <p>Desenvolvimento de um app para acompanhamento dos treinos na academia</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
</section>
<section>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>App em Angular</h2>
            <p>Desenvolvimento de um website de compartilhamento de receitas</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Análise heurística</h2>
            <p>Avaliação das heurísticas de design de um [SITE AQUI]</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Design system</h2>
            <p>Desenvolvimento do design system da SimpleCode</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
</section>