section {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.card-texto {
    padding: 32px;
}

.placeholder {
    height: 200px;
    width: 320px;
    background-color: #eaeaea;
}
