<h1 class="center pink margem">
    Projetos
</h1>
<section>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
</section>
<section>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
    <div class="card">
        <div class="placeholder"></div>
        <div class="card-texto">
            <h2>Estudo de caso de UX/UI</h2>
            <p>Estudo de caso de UX/UI para o site de uma empresa de tecnologia.</p>
            <a href="#" target="_blank" class="pink">http://linkaqui.com</a>
        </div>
    </div>
</section>