<div class="section" id="projetos">
    <h1>Projetos</h1>
    <div class="text-700 line-height-3">
        Aqui estão alguns projetos pessoais que desenvolvi já que os projetos profissionais nos quais atuei são confidenciais. Caso queira saber mais sobre meu trabalho, <a (click)="onClick($event)">entre em contato</a>.
    </div>

    <div class="mt-3 grid border-1 surface-border border-round">
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        My Recipe Book
                    </span>
                    <span>
                        <p-tag value="Angular" severity="warning" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Website responsivo de compartilhamento de receitas
                </p>
                <p>
                    <a href="#">
                        Ver na Vercel
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        Gym Buddy
                    </span>
                    <span>
                        <p-tag value="Angular" severity="warning" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Website responsivo para acompanhamento dos treinos na academia (melhor experiência no mobile)
                </p>
                <p>
                    <a href="#">
                        Ver na Vercel
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        Design system: Simplicity
                    </span>
                    <span>
                        <p-tag value="UI" severity="success" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Desenvolvimento e documentação do design system da SimpleCode
                </p>
                <p>
                    <a href="#">
                        Ver no GitBook
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        Estudo de caso: kmomila
                    </span>
                    <span>
                        <p-tag value="UX" severity="info" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Aplicativo que reúne tarefas, colegas e ferramentas para facilitar a gestão de projetos e fluxos de trabalho
                </p>
                <p>
                    <a href="#">
                        Ver no Behance
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        PIX na SumUp
                    </span>
                    <span>
                        <p-tag value="UI" severity="success" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Projeto da EBAC que contempla landing page + e-mail para comunicação sobre o PIX na SumUp
                </p>
                <p>
                    <a href="#">
                        Ver no Behance
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border">
            <div class="p-4">
                <img src="assets/project-1.jpg" class="w-full" />
                <div class="flex align-items-center justify-content-between mt-5 mb-3">
                    <span class="text-900 font-medium text-xl">
                        Análise heurística: [a definir]
                    </span>
                    <span>
                        <p-tag value="UI" severity="success" [rounded]="true"></p-tag>
                    </span>
                </div>
                <p class="text-900">
                    Avaliação das heurísticas de design de um [a definir]
                </p>
                <p>
                    <a href="#">
                        Ver no Behance
                        <i class="pi pi-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>