<section>
    <div>
        <h2>
            Linguagens
        </h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Sass/Scss</li>
            <li>Vanilla JavaScript</li>
            <li>TypeScript</li>
            <li>C#</li>
        </ul>
    </div>
    <div>
        <h2>
            Frameworks, bibliotecas e outros
        </h2>
        <ul>
            <li>Angular & Angular Material</li>
            <li>Karma, Jasmine, Jest & Cypress</li>
            <li>Bootstrap</li>
            <li>Git & GitHub</li>
            <li>NestJs</li>
            <li>Postman & Insomnia</li>
            <li>VSCode</li>
            <li>Figma</li>
        </ul>
    </div>
</section>