<h1 class="center pink">
    Habilidades
</h1>
<section>
    <div>
        <h2 class="center">
            Linguagens
        </h2>
        <ul>
            <li>Vanilla JavaScript</li>
            <li>TypeScript</li>
            <li>C#</li>
            <li>CSS & SASS</li>
            <li>HTML</li>
        </ul>
    </div>
    <div>
        <h2 class="center">
            Frameworks, bibliotecas e outros
        </h2>
        <ul>
            <li>Angular & Angular Material</li>
            <li>Bootstrap</li>
            <li>RxJS</li>
            <li>Karma, Jasmine & Jest</li>
            <li>Git & GitHub</li>
            <li>Postman & Insomnia</li>
            <li>VSCode</li>
        </ul>
    </div>
    <div>
        <h2 class="center">
            Ferramentas e habilidades em UX & UI
        </h2>
        <ul>
            <li>Avaliação heurística</li>
            <li>Wireframes</li>
            <li>Protótipos</li>
            <li>Testes de usabilidade</li>
            <li>Design de interfaces responsivas</li>
            <li>Figma</li>
        </ul>
    </div>
</section>