<div class="bg-no-repeat bg-cover px-4 py-8 md:px-6 lg:px-8 section" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/project-1.jpg')">
    <div class="text-white text-5xl font-bold mb-4 text-white z-1">
        Entre em contato
    </div>
    <p class="line-height-3 mt-0 mb-6 p-0 text-white text-2xl">
        Se você está procurando alguém com expertise em desenvolvimento front-end e design de interfaces, eu adoraria conversar sobre seu projeto, entre em contato: <span class="email">ortegavan&#64;live.com</span>
    </p>
</div>