<div class="surface-section px-4 py-6 md:px-6 section" id="habilidades">
    <h1>
        Conhecimentos & habilidades
    </h1>
    <div class="text-700 line-height-3">
        Meu propósito é criar, manter e entregar aplicações robustas, seguras, responsivas e intuitivas no uso.<br>
        Para saber sobre minha formação e experiência, visite meu perfil no LinkedIn: <a href="https://www.linkedin.com/in/ortegavan/">https://www.linkedin.com/in/ortegavan</a>.
    </div>

    <div class="grid mt-6">
        <div class="col-12 text-900 md:col-6 font-medium text-lg line-height-3">
            Programação
        </div>
        <div class="col-12 md:col-6 text-700 line-height-3">
            Programo desde 2003 em C#, na plataforma .NET. Nos últimos anos, concentrei meu trabalho no front-end, em especial no framework Angular e suas tecnologias: TypeScript, RxJS e Angular Material. No meu dia a dia, utilizo fortemente o Visual Studio Code, Git e GitHub. Tenho experiência em testes unitários e de integração tanto com Jasmine/Karma quanto com Jest. Já escrevi testes E2E utilizando Cypress e Playwright. Documento componentes de UI com Storybook. Tenho vivência em HTML5, CSS3 e JavaScript e, quando era full-stack, trabalhei com SQL Server + Dapper e APIs Rest em .NET Core.
        </div>
    </div>
    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
    <div class="grid">
        <div class="col-12 text-900 md:col-6 font-medium text-lg line-height-3">
            UX & UI
        </div>
        <div class="col-12 md:col-6 text-700 line-height-3">
            Me especializei em UI pela Escola Britânica de Artes Criativas e tenho pós-graduação em Design Thinking e UX. Utilizo o Figma para wireframes e prototipação <i>pixel perfect</i>. Procuro manter os artefatos organizados e otimizados com o uso de componentes, variants e auto layout. Implemento os arquivos de design em HTML5 e CSS3 limpos e responsivos. Tenho conhecimentos em Lean UX.
        </div>
    </div>
</div>