<div class="px-4 py-8 md:px-6 lg:px-8" style="background:radial-gradient(69.84% 69.84% at 50% 100%, #FFE9F6 0%, #fff 100%);">
    <h1 class="text-center">Habilidades</h1>
    <div class="grid mt-7">
        <div class="col-12 md:col-6">
            <div class="shadow-1 p-5 surface-card text-center border-round">
                <div class="border-circle bg-pink-50 p-5 text-blue-600 inline-flex justify-content-center align-items-center mb-4">
                    <img src="assets/coding.svg" alt="programação">
                </div>
                <div class="text-900 font-medium text-2xl mb-4">
                    Programação
                </div>
                <div class="text-700 mb-4 line-height-4">
                    <p>Vanilla JavaScript & TypeScript</p>
                    <p>Angular & Angular Material</p>
                    <p>Bootstrap & PrimeNG</p>
                    <p>VS Code, Git, GitHub</p>
                    <p>Jest & Playwright</p>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="shadow-1 p-5 surface-card text-center border-round">
                <div class="border-circle bg-pink-50 p-5 text-purple-600 inline-flex justify-content-center align-items-center mb-4">
                    <img src="assets/design.svg" alt="design de ux e ui">
                </div>
                <div class="text-900 font-medium text-2xl mb-4">
                    UX & UI
                </div>
                <div class="text-700 mb-4 line-height-4">
                    <p>Avaliação heurística</p>
                    <p>Wireframes</p>
                    <p>Protótipos</p>
                    <p>Design de interfaces responsivas</p>
                    <p>Figma</p>
                </div>
            </div>
        </div>
    </div>
</div>