<section>
    <div class="menu">
        <div class="sofia">
            Vanessa Ortega
        </div>
        <div class="menu-icon hide-desktop">
            <p-button icon="pi pi-bars" severity="help"></p-button>
        </div>
        <nav class="hide-mobile">
            <a [href]="item.target" *ngFor="let item of menu | async">
                {{ item.title }}
            </a>
        </nav>
    </div>
    <div class="hero">
        <h1>
            <span class="design">
                Design.
            </span>{{ title | async }}
        </h1>
        <h2 class="margin-top">
            Olá, eu sou a <strong>Van</strong>!<br>
            Sou programadora front-end com conhecimentos em UX & UI.
        </h2>
        <div class="margin-top card flex justify-content-center">
            <p-button label="Vamos conversar?" severity="help"></p-button>
            <p-button label="Saiba mais" severity="secondary"></p-button>
        </div>
    </div>
</section>