<section>
    <div class="hero-text">
        <h1>
            Olá, eu sou a <strong>Van</strong>!<br>
            Sou programadora front-end<br>com conhecimentos em UX e UI
        </h1>
        <div>
            <button mat-raised-button color="accent">
                Vamos conversar?
            </button>
            <button mat-button>
                Saiba mais
            </button>
        </div>
    </div>
    <div class="hero-image">
        <img src="../../../assets/9960936.jpg" alt="designer & developer">
    </div>
</section>