section {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section > div {
    width: 50%;
}

.hero-text {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text > div {
    display: flex;
    gap: 12px;
}

.hero-image img {
    width: 38vw;
}
