<mat-toolbar class="toolbar">
    <div>
        <h1>Vanessa Ortega</h1>
    </div>
    <div>
        <button mat-button>Home</button>
        <button mat-button>Habilidades</button>
        <button mat-button>Projetos</button>
        <button mat-button>Currículo</button>
        <button mat-button>Contato</button>
        <button mat-button>
            <i class="fa-brands fa-linkedin-in"></i>
        </button>
        <button mat-button>
            <i class="fa-brands fa-github"></i>
        </button>
        <button mat-button>
            <i class="fa-brands fa-instagram"></i>
        </button>
    </div>
</mat-toolbar>