@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    --space: 80px;
}

h1 {
    font-size: clamp(1.8rem, 5vw, 2.8rem);
    font-weight: normal;
}

h2 {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    font-weight: normal;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #8190a6;
}

.borel {
    font-family: "Borel", cursive;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.cinza {
    color: #8190a6;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: var(--space);
}

@media screen and (max-width: 768px) {
    html {
        --space: 20px;
    }

    /* .desktop-only {
        display: none !important;
    } */
}

@media screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }
}
