a:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.social {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
}
